ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    margin: 5px 0px;
    padding: 5px 0px;
    cursor: pointer;
    border-radius: var(--unidad);
    &:hover {
      background-color: var(--third-color);
    }
  }
  a {
    color: var(--fourth-color);
    text-decoration: none;
    padding: 5px;
    i {
      margin-right: 10px;
    }
  }
}

.active {
  color: whitesmoke !important;
  font-weight: 550;
}

@media (max-width: 1024px) {
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    li {
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: start;
        width: 100px;
      }

      i {
        font-size: clamp(1.2rem, 1.5vw, 3rem);
        text-align: end;
      }
      span{
        font-size: 10px;
        text-align: center;
        display: none;
      }

      &:hover {
        background-color: transparent;
      }
    }
  }
}
