@if (detail) {
<div class="content">

  <div class="banner-song">
      <div class="image">
        @if ( type === 'track') {
        <img *ngIf="detail.album" [src]="detail.album.images[0].url" alt="image">
        }@else{
        <img [src]="detail.images[0].url" alt="image">
        }
      </div>
      <div class="detail-song">
        <span id="name-song">
          {{detail.name }}
        </span>
        <span class="song" style="font-weight:500">
          {{ detail | detail }}
        </span>
      </div>
  </div>

  @switch ( type ) {
    @case ( 'track' ) {
    <button type="button" class="btn-start"  (click)="playSong( detail )">
      <i class="fa-solid fa-play"></i>
      <span>Reproducir</span>
    </button>
    }
    @case ('album') {
    <app-list-songs [tracks]="detail.tracks.items"></app-list-songs>
    }
    @case ('artist') {
    <app-list-songs [tracks]="topTracksArtist"></app-list-songs>
    }
  }
</div>
}
