.content {
  max-height: calc(100vh - 2 * var(--unidad) - 160px);
  height: calc(100vh - 2 * var(--unidad) - 160px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: var(--unidad);
  padding: 10px;
  overflow-x: hidden;
  position: relative;
  &:hover {
    .btn-player {
      transition: opacity 0.5s ease-in-out;
    }
  }
}

.btn-start {
  height: 30px;
  border-radius: 4px;
  background-color: rgba(64, 83, 64, 0.9);
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: white;
  width: clamp(150px, 20vw, 200px);
  font-weight: 500;
  i{
    margin-right: 10px;
  }

  &:hover {
    background-color: rgba(106, 139, 106, 0.9);
  }

}

.banner-song {
  min-height: 180px;
  background: rgb(36, 47, 36);
  background: linear-gradient(
    0deg,
    rgba(36, 47, 36, 1) 0%,
    rgba(64, 83, 64, 0.9) 50%,
    rgba(106, 139, 106, 0.9) 100%
  );
  border-radius: var(--unidad);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  overflow: hidden;
}

.image{
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  height: clamp(95px, 20vw, 140px);
  width: clamp(95px, 20vw, 140px);
}

.detail-song {
  height: clamp(80px, 20vw, 140px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#name-song {
  font-size: clamp(20px, 28px, 36px);
  font-weight: bold;
  margin: 8px 0px;
  max-height: clamp(28px, 36px, 44px);
  overflow: hidden;
  text-overflow: ellipsis;
}

.song {
  width: 100%;
  font-size: 12px;
  max-height: clamp(28px, 3vw, 24px);
  font-weight: bold;
  text-transform: capitalize;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: none;
  vertical-align: middle;
}

.player {
  width: 100%;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .content {
    max-height: calc(100vh - 2 * var(--unidad) - 275px);
  }

  .banner-song {
    min-height: 115px;
    padding: 10px;
  }

}

@media (min-width: 769px) and (max-width: 1024px) {
  .content {
    max-height: calc(100vh - 2 * var(--unidad) - 205px);
  }
}
