@if (detail) {
<div class="content">
  <div class="banner-song">
    <div class="content-song">
      <div class="image">
        @if ( type === 'track') {
        <img *ngIf="detail.album" [src]="detail.album.images[0].url">
        }@else{
        <img [src]="detail.images[0].url">
        }
      </div>
      <div class="detail-song">
        <span class="song">{{ type }}</span>
        <span id="name-song">{{
          detail.name }}</span>
        <span class="song" style="font-weight:500">
          {{ detail | detail }}
        </span>
      </div>
    </div>
  </div>

  @switch ( type ) {
  @case ( 'track' ) {
  <button class="btn-player" (click)="playSong( detail )">
    <i class="fa-solid fa-play"></i>
  </button>
  }
  @case ('album') {
  <app-list-songs [tracks]="detail.tracks"></app-list-songs>
  }
  }
</div>
}
