@if (true) {
<div class="content">
  <div class="song">
    @if (track) {
     <app-card-player [song]="track" ></app-card-player>
    }@else {
    <div class="img-empty"></div>
    }
  </div>

  <div class="buttons">
    <button type="button" class="btn btn-back">
      <i class="fa-solid fa-backward-step"></i>
    </button>
    @if (playingSong) {
    <button type="button" class="btn-play" (click)="pauseSong(track)">
      <i class="fa-solid fa-pause"></i>
    </button>
    }@else {
    <button type="button" class="btn-play" (click)="playSong(track)">
      <i class="fa-solid fa-play"></i>
    </button>
    }
    <button type="button" class="btn btn-next " (click)="nextTrack(track)">
      <i class="fa-solid fa-forward-step"></i>
    </button>
  </div>

  <div class="volumen">
    <div class="slider">
      <i class="fa-solid fa-volume-high"></i>
      <input type="range" id="slider" min="0" max="100" step="1" [formControl]="volumen">
    </div>
  </div>
</div>
}
