.content{
  background-color: var(--second-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  overflow: hidden;
  border-radius: var(--unidad);
  padding: var(--unidad);
}

.song{
  width: 30%;
  color: whitesmoke;
  padding: 5px;
}

.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.buttons .btn-play {
  background-color: white;
  color: var(--primary-color);
  height: 42px;
  width: 42px;
  font-size: 15px;
  border-radius: 50%;
  margin: 15px;
  border: none;
  cursor: pointer;

  &:hover{
    transform: scale(1.04);
  }
}

.btn {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  color: var(--fourth-color);
  font-size: 20px;
  cursor: pointer;

  &:hover{
    transform: scale(1.04);
    background-color: var(--third-color);
  }
}


.volumen{
  width: 30%;
  display: flex;
  justify-content: end;
  color: whitesmoke;
  padding: var(--unidad);
}

.slider{
  display: flex;
  align-items: center;
  i{
    font-size: 12px;
    margin-right: 10px;
  }
}

input[type="range"] {
  -webkit-appearance: none;
  width: 120px;
  height: 4px;
  border-radius: 5px;
  transition: opacity .2s;
  cursor: pointer;
  overflow: hidden;
}

input[type='range']::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 10px;
  margin-top: -1px;
  background: var(--third-color);
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: -80px 0 0 80px var(--fourth-color);
  background-color: var(--fourth-color);
  z-index: 1;
}

.img-empty{
  width: 40px;
  height: 40px;
  background-color: var(--third-color);
  border-radius: var(--unidad);
  opacity: 0.8;
}


@media (max-width: 724px) {
  .volumen{
    display: none;
  }

  .btn-next{
    display: none;
  }

  .btn-back{
    display: none;
  }

  .buttons{
    justify-content: end;
  }
}

