.content {
  padding: var(--unidad);
  color: var(--fourth-color);
  font-weight: 550;
  overflow-y: auto;
  height: calc(100vh - 205px);
  i{
    margin-right: 15px;
  }
}


::-webkit-scrollbar {
  width: 4px;
}


@media (max-width: 768px) {
  .content {
    height: calc(100vh - 290px);
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .content{
    height: calc(100vh - 225px);
  }
}
