.content {
  max-height: calc(100vh - 2 * var(--unidad) - 40px);
  display: flex;
  flex-direction: column;
  gap: var(--unidad);
  padding: 10px;
}

.banner-song {
  height: 180px;
  background: rgb(36, 47, 36);
  background: linear-gradient(
    0deg,
    rgba(36, 47, 36, 1) 0%,
    rgba(64, 83, 64, 0.9) 50%,
    rgba(106, 139, 106, 0.9) 100%
  );
  border-radius: var(--unidad);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.content-song {
  display: flex;
  justify-content: start;
  align-items: end;
  gap: 20px;
}

.image img {
  height: 140px;
  width: 140px;
}

.detail-song {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.song{
  font-size: 12px;
  font-weight: bold;
}

#name-song {
  font-size: 42px;
  font-weight: bold;
  margin: 8px 0px;
}

.player{
  width: 100%;
  margin-top: 20px;
}
