@if (detail) {
<div class="content">

  <div class="banner-song">
    <div class="content-song">
      <div class="image">
        @if ( type === 'track') {
        <img [src]="detail.album.images[0].url">
        }@else{
        <img [src]="detail.images[0].url">
        }
      </div>
      <div class="detail-song">
        <span class="song">{{ type }}</span>
        <span id="name-song">{{
          detail.name }}</span>
        <span class="song" style="font-weight:500">
          {{ detail | detail }}
        </span>
      </div>
    </div>
  </div>
</div>
}
