.content{
  background-color: var(--second-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  overflow: hidden;
  border-radius: var(--unidad);
  padding: var(--unidad);
}

.song{
  width: 30%;
}

.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.btn-play{
  display: flex;
  gap: 5px;
}

.btn-play button {
  background-color: var(--fourth-color);
  color: var(--third-color);
  height: 35px;
  width: 35px;
  font-size: 18px;
  border-radius: 50%;
  border: none;
  cursor: pointer;

  &:hover{
    border: 1px solid var(--third-color);
  }
}

.btn {
  background-color: var(--third-color) !important;
  color: var(--fourth-color) !important;
}


.volumen{
  width: 30%;
  display: flex;
  justify-content: end;
  color: whitesmoke;
  padding: var(--unidad);
}

.slider{
  display: flex;
  align-items: center;
  i{
    font-size: 12px;
    margin-right: 10px;
  }
}

input[type="range"] {
  -webkit-appearance: none;
  width: 150px;
  height: 4px;
  border-radius: 5px;
  transition: opacity .2s;
  cursor: pointer;
  overflow: hidden;
}

input[type='range']::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 10px;
  margin-top: -1px;
  background: var(--third-color);
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  box-shadow: -80px 0 0 80px var(--fourth-color);
  background-color: var(--fourth-color);
  z-index: 1;
}
