.card{
  padding: 12px;
  width: 130px;
  overflow: hidden;
}

.card:hover{
  background-color: var(--third-color);
  cursor: pointer;
  .btn-player{
    opacity: 0.75;
    transition: opacity 0.5s ease-in-out;
  }
}

.image{
  position: relative;
  img{
    height: 130px;
    width: 130px;
  }
}

.btn-player {
  position: absolute;
  top: 45px;
  right: 45px;
  opacity: 0;
}

.name{
  height: 22px;
  overflow: hidden;
}

.name span {
  font-size: 14px;
}

.info span {
  color: var(--fourth-color);
  font-size: 12px;
}
