@if ( song ) {
<div class="content" [ngClass]="{'fullContent': savedTracks}" >
  <div class="image" [routerLink]='"/home/search/" + song.type + "/" + song.id'>
    <i class="fa-solid fa-play"></i>
    @if(song.album){
    <img [src]="song.album.images[0].url">
    }@else {
      <span>{{ index + 1}}</span>
    }
  </div>

  <div class="info">
    <div class="name">
      <span>{{song.name}}</span>
    </div>
    <div class="artists">
      <span>{{song.artists[0].name}} </span>
    </div>
  </div>

  @if ( !savedTracks ) {
    <div class="save-song">
      <button>
        <i class="fa-solid fa-circle-plus"></i>
      </button>
    </div>

    <div class="duration">
      <span>{{ song.duration_ms | convertTime}}</span>
    </div>
  }
</div>
}
