.content {
  display: flex;
  height: 100vh;
  flex-direction: column;
  overflow: hidden;
  gap: var(--unidad);
  padding: var(--unidad);
}

.main {
  flex: 1;
  display: flex;
  gap: var(--unidad);
  overflow: hidden;
}

.content-left {
  min-width: 260px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: var(--unidad);
}

.content-saved {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.player {
  height: 60px;
}

.footer {
  height: 40px;
  display: none;
}

@media (max-width: 1024px) {
  .main {
    flex-direction: column;
  }

  .content-left {
    display: none;
  }

  .content-right {
    width: 100%;
  }
  .footer {
    display: block;
  }
}
